aioredis==1.3.1 # 1.3.1 (2019-12-02) || 2.0.1 - (2021-12-20)
amqp==5.0.9 # esta es la version mas reciente
appdirs==1.4.4 # esta es la version mas reciente
asgiref==3.3.4 # version mas reciente: 3.5.0 - Jan 22, 2022
asn1crypto==1.4.0 # version mas reciente 1.4.0 Jul 28, 2020 - puede que necesite ser cambiada
async-timeout==3.0.1 # version mas reciente: 4.0.2 - Dec 20, 2021
attrs==21.4.0 # esta es la version mas reciente
autobahn==22.1.1 # verson  mas reciente: 22.2.2 - Feb 23, 2022
Automat==20.2.0 # esta es la version mas reciente puede que necesite ser cambiada
Babel==2.9.1 # esta es la version mas reciente
backend==0.2.4.1 # esta es la verion mas reciente: Feb 18, 2014 puede que necesite ser cambiada
billiard==3.6.4.0 # esta es la version mas reciente: Apr 1, 2021
blinker==1.4 # esta es la version mas reciente: Jul 23, 2015 puede que necesite ser cambiada
boto==2.49.0 # esta es la version mas reciente: Jul 11, 2018 puede que necesite ser cambiada
boto3==1.20.50 # version mas reciente: 1.21.12 - Mar 3, 2022
botocore==1.23.50 # version mas reciente: 1.24.12 - Mar 3, 2022
celery==5.2.3 # esta es la version mas reciente: Dec 29, 2021
certifi==2021.10.8 # esta es la version mas reciente: Oct 8, 2021
cffi==1.15.0 # esta es la version mas reciente: Oct 13, 2021
channels==3.0.4 # esta es la version mas reciente: Jul 11, 2021
channels-redis==3.3.1 # esta es la version mas reciente: Sep 30, 2021
chardet==4.0.0 # esta es la version mas reciente: Dec 10, 2020
charset-normalizer==2.0.11 # version mas reciente: 2.0.12 - Feb 12, 2022
click==8.0.3 # version mas reciente: 8.0.4 - Feb 18, 2022
click-didyoumean==0.3.0 # esta es la version mas reciente: Sep 29, 2021
click-plugins==1.1.1 # esta es la version mas reciente: Apr 3, 2019 puede que necesite ser cambiada 
click-repl==0.2.0 # esta es la version mas reciente: May 30, 2021
colorama==0.4.4 # esta es la version mas reciente: Oct 12, 2020 puede que necesite ser cambiada
configobj==5.0.6 # esta es la version mas reciente: Aug 25, 2014 puede que necesite ser cambiada
constantly==15.1.0 # esta es la version mas reciente: Aug 11, 2015 puede que necesite ser cambiada
coreapi==2.3.3 # esta es la version mas reciente: Oct 5, 2017 puede que necesite ser cambiada
coreschema==0.0.4 # esta es la version mas reciente: Feb 8, 2017 puede que necesite ser cambiada
crontab==0.23.0 # esta es la verion mas reciente: Apr 27, 2021
cryptography==36.0.1 # esta es la version mas reciente: Dec 14, 2021
daal==2021.2.3 # verson mas reciente: Mar 3, 2022 - 2021.5.4
daphne==3.0.2 # esta es la version mas reciente: Apr 7, 2021
decorator==5.1.1 # esta es la version mas reciente: Jan 7, 2022
defusedxml==0.7.1 # esta es la version mas reciente: Mar 8, 2021
Deprecated==1.2.13 # esta es la version mas reciente: Sep 5, 2021
Django==3.2.9 # version mas reciente: 4.0.3 - Mar 1, 2022
django-braces==1.15.0 # esta es la version mas reciente: Nov 5, 2021
django-cors-headers==3.11.0 # esta es la version mas reciente: Jan 10, 2022
django-filter==21.1 # esta es la version mas reciente: Sep 24, 2021
django-multiselectfield==0.1.12 # esta es la version mas reciente: Feb 20, 2020 puede que necesite ser cambiada
django-oauth-toolkit==1.7.0 # esta es la version mas reciente: Jan 24, 2022
django-oauth2-provider==0.2.6.1 # esta es la version mas reciente: Apr 18, 2014 puede que necesite ser cambiada
django-phonenumber-field==6.0.0 # version mas reciente: 6.1.0 - Feb 15, 2022
django-redis==5.2.0 # esta es la version mas reciente: Dec 22, 2021
django-rest-framework-social-oauth2==1.1.0 # esta es la version mas reciente: Jan 25, 2018 puede que necesite ser cambiada
django-storages==1.12.3 # esta es la version mas reciente: Oct 29, 2021
django-twilio==0.8.0 # version mas reciente: 0.13.2 - Oct 24, 2021
django-utils==0.0.2 # version mas reciente: 0.0.3 - Jan 20, 2020 puede que necesite ser cambiada
django-utils-six==2.0 # esta es la version mas reciente: un 17, 2020 puede que necesite ser cambiada
django-utils2==2.12.1 # esta es la version mas reciente: Nov 14, 2021
djangorestframework==3.11.0 # version mas reciente: 3.13.1 - Dec 15, 2021
djangorestframework-simplejwt==5.0.0 # version mas reciente: 5.1.0 - Mar 1, 2022
docutils==0.16 # version mas reciente: 0.18.1 - Nov 23, 2021
drf-yasg==1.20.0 # esta es la version mas reciente: Oct 25, 2020 puede que necesite ser cambiada
ez-setup==0.9 # esta es la version mas reciente: Nov 23, 2010 puede que necesite ser cambiada
ffmpy==0.3.0 # esta es la version mas reciente: Jan 13, 2021 puede que necesite ser cambiada
gunicorn==20.0.2 # version mas reciente: 20.1.0 - Mar 26, 2021
hiredis==2.0.0 # esta es la version mas reciente: Mar 28, 2021
httplib2==0.20.4 # esta es la version mas reciente: Feb 2, 2022
huey==2.4.3 # esta es la version mas reciente: Dec 28, 2021
hyperlink==21.0.0 # esta es la version mas reciente: Jan 8, 2021 puede que necesite ser cambiada
idna==3.3 # esta es la version mas reciente: Oct 12, 2021
imageio==2.15.0 # version mas reciente: 2.16.1 - Feb 27, 2022
importlib-metadata==4.10.1 # version mas reciente: 4.11.2 - Feb 27, 2022
incremental==21.3.0 # esta es la version mas reciente: Mar 1, 2021
inflection==0.5.1 # esta es la version mas reciente: Aug 22, 2020 puede que necesite ser cambiada
itypes==1.2.0 # esta es la version mas reciente: Apr 19, 2020 puede que necesite ser cambiada
jeepney==0.7.1 # esta es la version mas reciente: Jul 28, 2021
Jinja2==2.11.3 # version mas reciente: 3.0.3 - Nov 9, 2021
jmespath==0.10.0 # esta es la version mas reciente: May 12, 2020 puede que necesite ser cambiada
jsonpatch==1.32 # esta es la version mas reciente: Mar 13, 2021
jsonpointer==2.2 # esta es la version mas reciente: Nov 4, 2021
jsonschema==4.4.0 # esta es la version mas reciente: Jan 12, 2022
jwcrypto==1.0 # esta es la version mas reciente: Aug 2, 2021
keyring==23.5.0 # esta es la version mas reciente: Jan 1, 2022
keyrings.alt==4.1.0 # esta es la version mas reciente: ul 15, 2021
kombu==5.2.3 # esta es la version mas reciente: Mar 6, 2022
MarkupSafe==1.1.1 # esta es la version mas reciente: Feb 17, 2022
#migrate==0.3.8
msgpack==1.0.3 # esta es la version mas reciente: Nov 24, 2021
msgpack-python==0.5.6 # esta es la version mas reciente: Mar 10, 2018 puede que necesite ser cambiada
netifaces==0.11.0 # esta es la version mas reciente: May 31, 2021
numpy==1.19.3 # version mas reciente: 1.22.2 - Feb 3, 2022
oauth2client==4.1.2 # version mas reciente: 4.1.3 - Sep 7, 2018 puede que necesite ser cambiada
oauthlib==3.2.0 # esta es la version mas reciente: Jan 29, 2022
openapi-codec==1.3.2 # esta es la version mas reciente: Jul 19, 2017
packaging==21.3 # esta es la version mas reciente: Nov 17, 2021
pafy==0.5.5 # esta es la version mas reciente: Nov 22, 2019 puede que necesite ser cambiada
pathlib==1.0.1 # esta es la version mas reciente: Sep 3, 2014
phonenumbers==8.12.42 # version mas reciente: 8.12.44 - Feb 25, 2022
phonenumberslite==8.12.42 # esta es la version mas reciente: 8.12.44 - Feb 25, 2022
Pillow==9.0.1 # esta es la version mas reciente: Feb 2, 2022
prompt-toolkit==3.0.27 # version mas reciente: 3.0.28 - Feb 11, 2022
psycopg2-binary==2.9.3 # version mas reciente: 3.0.9 - Feb 19, 2022
pyasn1==0.4.8 # esta es la version mas reciente: Nov 16, 2019 puede que necesite ser cambiada
pyasn1-modules==0.2.8 # esta es la version mas reciente: Jan 9, 2020 puede que necesite ser cambiada
pycparser==2.21 # esta es la version mas reciente: Nov 6, 2021
pycryptodome==3.14.1 # esta es la version mas reciente: Feb 4, 2022
PyHamcrest==2.0.3 # esta es la version mas reciente: Dec 12, 2021
PyJWT==2.3.0 # esta es la version mas reciente: Oct 16, 2021
pyOpenSSL==22.0.0 # esta es la version mas reciente: Jan 29, 2022
pyparsing==3.0.7 # esta es la version mas reciente: Jan 21, 2022
PyQt5==5.12.3 # version mas reciente: 5.15.6 - Oct 29, 2021
PyQt5-sip==12.9.1 # esta es la version mas reciente: Feb 1, 2022
PyQtWebEngine==5.12.1 # version mas reciente: 5.15.6 - Oct 18, 2021
pyrsistent==0.18.1 # esta es la version mas reciente: Jan 14, 2022
pyserial==3.5 # esta es la version mas reciente: Nov 22, 2020 puede que necesite ser cambiada
PySocks==1.7.1 # esta es la version mas reciente: Sep 19, 2019 puede que necesite ser cambiada
python-dateutil==2.8.2 # esta es la version mas reciente: Jul 14, 2021
python-oauth2==1.1.1 # esta es la version mas reciente: Jun 28, 2019
python-utils==3.1.0 # esta es la version mas reciente: Jan 14, 2022
python3-openid==3.2.0 # esta es la version mas reciente: Jun 29, 2020
pytz==2021.3 # esta es la version mas reciente: Oct 1, 2021
pyxdg==0.27 # esta es la version mas reciente: Oct 18, 2020 puede que necesite ser cambiada
PyYAML==6.0 # esta es la version mas reciente: Oct 13, 2021
redis==4.1.2 # version mas reciente: 4.1.4 - Feb 16, 2022
requests==2.27.1 # esta es la version mas reciente: Jan 5, 2022
requests-oauthlib==1.3.1 # esta es la version mas reciente: Jan 29, 2022
requests-unixsocket==0.3.0 # esta es la version mas reciente: Dec 23, 2021
rsa==4.7 # version mas reciente: 4.8 - Nov 24, 2021
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
s3transfer==0.5.1
SecretStorage==3.3.1
service-identity==21.1.0
shortuuid==1.0.8
simplejson==3.17.6
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sockjs-tornado==1.0.7
sqlparse==0.4.2
tbb==2021.5.1
toredis-fork==0.1.4
tornado==6.1
twilio==7.5.1
Twisted==22.1.0
txaio==21.2.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
websocket-client==1.2.3
wrapt==1.13.3
zipp==3.7.0
zope.interface==5.4.0